torch
torchvision
diffusers[torch]==0.11.1
accelerate==0.15.0
transformers==4.25.1
bitsandbytes==0.35.4
einops
omegaconf
ftfy
tensorboard
modelcards
imageio
triton
click
opencv-python
imageio[ffmpeg]
scipy